// Color Palette
$color-primary-accent: #2E7D32;   // Forest Green
$color-secondary-accent: #FFB300; // Amber/Golden Yellow
$color-primary-accent--light: #9CdB9F;
$color-secondary-accent--light: #ffe199;


$color-text-dark: #333333;        // Dark Charcoal
$color-background-light: #F8F8F8; // Light Grey/Off-White
$color-background-white: #FFFFFF; // Pure White

$color-neutral-medium: #9E9E9E;   // Medium Grey
$color-neutral-light: #E0E0E0;    // Light Grey

// Semantic Colors (derived or specific)
$color-success: #4CAF50;          // Green for success messages
$color-error: #D32F2F;            // Red for error messages
$color-warning: #FFA000;          // Orange for warnings